body {
    background-color: #e4f1ff;
    background-size: cover; /* 이미지를 화면에 꽉 채우도록 크기 조정 */
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    background-attachment: fixed; /* 스크롤 시 배경 이미지 고정 */
    padding-top: 50px;
  }
  .board-title {
    font-size: 30px;
    font-weight: bold;
    color: #213555;
    height: 60px;
    text-align: center;
  }
  .info {
    text-align: center;
    font-size: 13px;
    color: gray;
    margin-bottom: 50px;
  }
  #b-content {
    margin-left: 12px;
    width: 95%;
  }
  .write-btn {
    background-color: #8ECDDD;
    color: white;
    margin-bottom: 80px;
  }
  .write-btn:hover {
    background-color: #AED2FF;
  }
  .btn-cls {
    display: flex;
    justify-content: center;
  }
  #board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .sm-box {
    border-radius: 10px;
    box-shadow: 0 0 10px #AED2FF;
    width: 50%;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
  }
  .num,.writer,.titleData,.contentData {
    margin-bottom: 5px;
  }
  .num,.writer {
    font-size: 13px;
  }
  .titleData {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .contentData {
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
  }