body {
  background-color: #e4f1ff;
  background-size: cover; /* 이미지를 화면에 꽉 채우도록 크기 조정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
  background-attachment: fixed; /* 스크롤 시 배경 이미지 고정 */
  padding-top: 50px;
}
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
  background-color: white;
  width: 95%;
  max-width: 500px;
  padding-bottom: 50px;
  box-shadow: 0 0 10px #adc4ce;
  margin-bottom: 140px;
}
.form {
  width: 300px;
  display: flex;
  margin: 0 auto;
}
.login-logo {
  width: 90px;
  height: 100px;
  margin-left: 220px;
  margin-top: 100px;
  margin-bottom: 70px;
}

.go {
  display: flex;
  justify-content: center;
}
.last {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 14px;
}
.last:hover {
  color: black;
}
input {
  border: 1px solid #a1ccd1;
  border-radius: 20px;
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
  padding-left: 15px;
}

.login-btn {
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: #0c356a;
  border-radius: 20px;
  width: 90px;
  height: 38px;
  margin-bottom: 20px;
  background-color: #aed2ff;
  width: 300px;
  margin-top: 20px;
}
.login-btn:hover,
.update-btn:hover,
.delete-btn:hover {
  color: white;
  box-shadow: 0 0 3px #aed2ff;
}
/*=======================  마이페이지  =======================*/
td {
  height: 90px;
}

#currUser-email,
#currUser-name,
#currUser-age {
  margin-top: 20px;
}

.info {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #213555;
}

.delete-btn {
  border: none;
  font-size: 17px;
  font-weight: bold;
  color: #0c356a;
  border-radius: 20px;
  width: 100%;
  height: 38px;
  margin-top: 20px;
  background-color: lightgray;
}

/* My Page */
.top {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #213555;
}

.mypage {
  padding-left: 40px;
  padding-right: 40px;
}

.login-form {
	width: 100%;
}