.class13 {
    ul {
        li {
            padding : 10rem;
        }
        a {
            color : pink;
        }
    }
}

.class13 ul li {
    padding : 10rem;
}

.class13 ul a {
    color : pink;
}

.class13 ul {
    font: bold;
}